* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background:#f3f4f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 380px;
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

h1{
    text-align: center;
    margin-bottom: 20px;
}

.input-box{
    display: flex;
    gap: 10px;
}

.input-box input{
    flex: 1;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 6px;
    font-size: 16px;
}

.input-box button{
    padding: 10px 15px;
    background: #2563eb;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.input-box button:hover{
    background: #1d4ed8;
}

#taskList{
    margin-top: 20px;
}

.task{
    background: #f8fafc;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task.completed span{
    text-decoration: line-through;
    color: #9ca3af;
}

.task button{
    background: red;
    border: none;
    padding: 6px 10px;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}
